html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font: 1em "Calibri", sans-serif;
}

.wrapper {
  max-width: 1374px;
  margin-inline: auto;
}

#imageInput {
  display: block;
  min-width: 100%;
  padding: 2em;
  margin-block-end: 1em;
  background-color: #ededed;
}

#outputContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.outputImage {
  max-width: 300px;
  object-fit: cover;
}
